@import "_common"
@import "_settings"

code,
pre,
.example__viewsource,
.sidebar .page-title,
.menu-item a
  font-family: $code-font;

.hidden
  display !important

em
  color #7f8c8d

html
  background $color-secondary

html[data-is-home="true"]
  min-width 1000px

body
  color: #fff;

a
  border-bottom 1px solid rgba(255,255,255,.3)
  color rgba(255,255,255,.85)
  text-decoration none

a:hover
  border-bottom-color rgba(255,255,255,.6)
  color #fff

a:active,
a.click
  border-bottom-color rgba(255,255,255,.9)
  color #fff

ul
  list-style-type none

.logo__wordmark
  background url(../images/aframe-name-white.svg) no-repeat

.main {
  display: flex;
  height: 100%;
}
.sidebar,
.content {
  position: relative;
}
.sidebar
  -ms-overflow-style none
  -webkit-overflow-scrolling touch
  background $color-primary
  overflow-x hidden
  position fixed
  width 280px
  z-index 1

  &::-webkit-scrollbar
    width 0 !important

  .page-title
    color rgba(0,0,0,.6)
    letter-spacing .02em
    font-size 15px
    font-weight 300
    a
      border-width 0
      color inherit
      display block

.sidebar__wrap
  height 100vh
  overflow-y auto
  position relative

.content
  background-color: $color-secondary;
  //display: flex;
  //flex: 1;
  //flex-direction: column;
  //overflow-y: auto;

.example__controls {
  position: absolute;
  text-transform: uppercase;
  top: 5px;
  right: 5px;
  z-index: 2;
  font-size: 12px;
  line-height: 1.5;
  a {
    background: rgba(0,0,0,0.35);
    color: #fff;
    display: inline-block;
    padding: 5px 10px;
    &:active, &:hover {
      background-color: $color-primary;
    }
  }
}
.aframe-animation .example__controls {
  display: none;
}
[data-is-mobile="true"] .example__controls {
  display: none;
}

.subnav-link
  color: #fff;
  display: block;
  font-size: 16px;
  font-weight: 300;
  margin-left: -3px;
  padding: 2px 3px;
  transition: .05s color ease;
  width: 100%;

  &.current,
  &.current:hover,
  &:hover
    color #fff

  &.current,
  &.current:hover
    color: #fff
    font-weight: 500

  &:hover
    background-color rgba(0,0,0,.05)

  &:active,
  &.click
    background-color rgba(0,0,0,.5)

.example__iframe {
  display: block;
}
.example-nav-link {
  border: 0;
  height: 100%;
  font-size: 2rem;
  font-weight: 600;
  display: inline-block;
  padding: 0.5rem 1rem;
  margin: -0.5rem -1rem;
  width: 50%;
}
.example-nav-link span {
  display: none;
}
.example-nav-next {
  text-align: right;
}

.credits {
  background: url(../images/mozvr-white.svg) 45% 60% no-repeat;
  background-size: 80% 80%;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 50px;
  width: 90px;
  margin: 0 20px 20px;
  &:hover {
    background-color: rgba(0,0,0,.1);
  }
}

.sponsor
  vertical-align middle
  position absolute
  top -3px
  right 0
  margin 20px 20px 0
  height 30px
  +media--desktop()
    margin 40px 40px 0
  .message
    margin-right 7px
    display inline-block
    height 30px
    line-height 30px
    vertical-align top
    font-weight 300

a.mozilla-logo {
  border-width: 0;
  display: inline-block;
  opacity: 0.8;
  background: url(../images/mozilla-logo.svg) no-repeat;
  height: 24px;
  width: 88px;
  position: relative;
  top: 1px;
  transition: .15s opacity ease-in-out;
  &:hover {
    opacity: 1;
  }
}

.examples-subnav {
  margin-top: 0.5rem;
}
.btn-index {
  color: #fff;
}
.content--examples,
.content--body {
  height: 100%;
}
.content--examples .content--body {
  background: #DADADA;
}

.slogan
  color #fff
  font-size 28px
  font-weight 400
  line-height 1.2
  letter-spacing -0.05rem
  +media--desktop()
    max-width 400px

.intro
  color #fff
  font-size 16.5px
  font-weight 300
  line-height 1.55
  margin 1rem 0
  /*width: 350px;*/

.menu
  margin-left -10px
  margin-bottom 38px

.menu-item
  display inline-block
  a
    border-bottom-width 0
    color rgba(0,0,0,.6)
    margin 0 -10px
    padding 0 20px
    font-weight 600
    text-transform uppercase

.menu-item a:hover {
  // border-bottom: 1px solid rgba(255,255,255,.9);
  color: #111;
  font-weight: bold;
}
.btn-cta {
  background-color: #fff;
  border: 3px solid #fff;
  color: #000;
  display: inline-block;
  font-size: 15px;
  font-weight: 300;
  letter-spacing: 0.05rem;
  margin-top: 20px;
  padding: 8px 30px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.05s ease;
  &:hover {
    background-color: #fff;
    color: $color-primary;
  }
  &:active {
    opacity: 0.8;
  }
}
.mobile-get-started {
  display: none;
}
@media screen and (max-width: 399px) {
  #logo {
    max-width: 40vw;
  }
}
@media screen and (min-width: 480px) {
  .example__controls {
    top: 20px;
    right: 20px;
  }
}
@media screen and (min-width: 768px) {
  .example__controls {
    top: 30px;
    right: 30px;
  }
}
@media only screen and (max-device-width: 736px) and (orientation: landscape) {
  .sidebar {
    display: none;
  }
}

// Hide items based on compatibility.
// Example: "360 Video" example on mobile until autoplay/inline video UX issues handled properly.
// See https://github.com/aframevr/aframe/issues/316
[data-is-android="true"] [data-supports-android="false"],
[data-is-ios="true"] [data-supports-ios="false"] {
  display: none !important;
}

.home-content
  display flex
  width 100%

/*div.home-content div*/.home-center
  flex 2
  height 100vh
  width 100%

/*div.home-content iframe*/.example__iframe
  // padding-left 23vw
  width 100%

/*div.home-content div*/.copy__wrap
  height 100%
  position relative
  min-width 440px
  z-index 1

.example-tracked-controllers
  display inline-block
  height 18px
  left 1px
  position relative
  top 4px
  width 20px

/*div.list.examples-list*/.blog-list
  display none
  padding-bottom 10px
  +media--desktop()
    display: block;

  // .page-title a
  //   border-bottom 0
  //   color rgba(0,0,0,.6)
  //   font-size 15px
  //   font-weight 300
  //   letter-spacing .02em

.blog-list .subnav-link
  font-size .85rem  // To fit text better.
  padding-left 1rem
  width 205px
  text-indent -1rem
  text-indent calc(-1rem + 3px)

.example-nav {
  margin-top: 18px;
}

.home-content
  h2
    color $white
    padding-top 1.5rem

  h3
    color $color-text-white
    font-size 1rem
    margin-top 1rem

  p
    color rgba(0,0,0,.8)
    font-weight 300
    margin-top .5rem
    padding .75rem 0

  .intro p
    font-weight 400
    margin 0
    padding 0

  h3
    margin-top 1.75rem

  p, a
    code
      background none
      font-size 1em
      font-weight inherit
      opacity .9
      padding 0

  p a:only-child
    margin-right .3ch

  .highlight
    background rgba(0,0,0,.7)
    margin 1rem 0
    &.bash
      .line
        &:before
          content "$ "
          display inline-block
          opacity .25
    .line
      color rgba(255,255,255,.8)
      font-size: .8rem
    &::after
      font-weight 400
      opacity .5

  .npm-dogwhistle
    opacity .75

    a:first-child,
    a:first-child + a
      border-bottom-width 0
      color inherit
