$color-background = #fff;
$color-primary = #ef2d5e;
$color-white = #fff;
$font-copy = BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
$font-mono = Consolas, Andale Mono, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
$font-wordmark = Futura, $font-copy;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

html {
  background-color: $color-background;
  font-size: 14px;
}

body {
  font-size: 1rem;
  line-height: 1.5;
}

body,
.copy {
  font-family: $font-copy;
}

code,
pre,
tt
.code,
.tt,
.mono {
  font-family: $font-mono;
}

.wrap {
  margin: 0 auto;
  max-width: 70rem;
  padding: 0 1.5rem;
}

.header {
  background-color: $color-primary;
  padding: 3rem 0;
  text-align: center;
  width: 100%;
}

.wordmark {
  color: rgba(0,0,0,.2);
  font-size: 2.5rem;
  font-family: $font-mono;
  text-transform: uppercase;
  letter-spacing: .25ch;
  font-weight: 300;
}

.wordmark span {
  color: $color-white;
  font-family: $font-wordmark;
  font-weight: bold;
  text-shadow: 1px 2px 0 rgba(0,0,0,.25);
}

.wordmark:before,
.wordmark:after {
  display: inline;
}

.wordmark:before {
  content: "<";
  padding-right: .175ch;
}

.wordmark:after {
  content: ">";
  padding-left: .175ch;
}

.description {
  color: rgba(0,0,0,.5);
  font-family: $font-wordmark;
  padding-top: .5rem;
}

.hello-world {
  margin: 0 auto;
  max-width: 800px;
}

[data-section] h2 {
  padding-bottom: 1.5rem;
}

[data-section] p + p {
  padding-top: 1rem;
}

[data-section] {
  border-bottom: 1px dotted #eee;
  margin-bottom: 4.5rem;
  padding-bottom: 4.5rem;
}

[data-section] > .wrap {
  align-items: start;
  display: flex;
}

[data-section~="intro"] {
  border-bottom-width: 0;
  margin-bottom: 0;
}

[data-section] aside[data-aside] {
  max-width: 50%;
  padding-right: 3rem;
  flex: 1;
}

[data-section] section {
  padding-left: 3rem;
  flex: 1;
}

[data-section~="hello-world"] {
  display: block;

  section {
    padding-top: 3rem;
    padding-left: 0;
  }
}

a,
a:visited {
  color: blue;
}

a:hover {
  color: magenta;
}

h2,
h2 a,
h2 a:visited {
  color: #333;
}

h2 a {
  text-decoration: none;
}

h2 a:hover {
  color: #111;
}

.code-snippet {
  background: rgba(17,17,17,.8);
  border: 1px solid rgba(0,0,0,.2);
  border-radius: 2px;
  color: #fff;
  width: 100%;
  overflow-x: auto;
  padding: .5rem 1rem;
}

[data-section~="communities"],
[data-section~="demos"],
[data-section~="feed"],
[data-section~="workflows"] {
  ul {
    list-style-type: none;
  }
}

.btn {
  background: #fff;
  border: 1px solid rgba(0,0,0,.2);
  border-radius: 2px;
  padding: .5rem 1rem;
  text-decoration: none;
  transition: .15s scale ease-in-out;
  transform: scale(.8);
}

.btn:hover,
.btn:active {
  border-color: rgba(0,0,0,.4);
  transform: scale(1);
}

[data-section] [data-aside] aside {
  padding-top: 1.5rem;

  h3 {
    color: #666;
    padding-top: .5rem;
  }

  p {
    padding: .5rem 0;
  }
}

[data-section] section {
  li + li {
    padding-top: .5rem;
  }

  a {
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}

.tri-grid {
  display: flex;
  margin: 0 0 0 -1.5rem;
  padding-top: 1.5rem;
  max-width: 20rem;

  li {
    flex: 1;
    padding: 0 1.5rem;
    max-width: 20rem;
  }
}

[data-section~="feed"] {
  display: block;
}

/*
[data-section~="feed"] section ul {
  display: flex;
  max-width: 30rem;
  overflow-y: auto;

  li {
    flex: .5;
  }
}
*/

.cta {
  padding: 1rem 0;
}

.description a {
  color: rgba(0,0,0,.5);
  transition: .15s color ease-in-out;
}
.description a:hover {
  color: rgba(0,0,0,.75);
}

.in-the-wild {
  h3 {
    margin-bottom: -1rem;
    padding-top: 2.5rem;
  }
}

.sponsor {
  vertical-align: middle;
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 0 20px 20px;
  height: 30px;
}
.sponsor .message {
  margin-right: 7px;
  display: inline-block;
  height: 30px;
  line-height: 30px;
  vertical-align: top;
  font-weight: 300;
}
a.mozilla-logo {
  display: inline-block;
  opacity: .8;
  height: 24px;
  width: 84px;
  border: none;
  margin-left: .25ch;
  top: 1px;
  transition: .15s opacity ease-in-out;
}
a.mozilla-logo:hover {
  opacity: 1;
}
.mozilla-logo-wordmark {
  background: url(../images/mozilla-logo.svg) no-repeat;
  display: inline-block;
  height: 24px;
  width: 84px;
}

.logo {
  display: block;
  font-size: 1.1rem;
  line-height: 1.4;
  text-decoration: none;

  .description {
    margin: 0 auto;
    max-width: 20rem;
  }
}

[data-section~="hello-world"] {
  ul {
    list-style-type: none;
    margin-left: 1.5rem;
    padding: 1.5rem 0 0;
  }

  li + li {
    padding-top: .25rem;
  }
}
